############################################
# ФАЙЛ .gitignore ДЛЯ JAVA ПРОЕКТОВ       #
# Автоматически сгенерированные файлы IDE #
# и результаты сборки                     #
############################################

### JetBrains IntelliJ IDEA ###
# Папка конфигурации IDE
.idea/
**/.idea/
/.idea/
/**/.idea/

# Вложенные gitignore
**/.gitignore

# Файлы модулей и настроек
*.iml
**/*.iml

# Файлы рабочих пространств и проектов
*.iws
*.ipr

# Кэш и временные файлы Kotlin
.kotlin/

# Логи IDE
idea.log

# Папка выходных файлов компиляции (но исключаем исходные коды)
out/
!**/src/main/**/out/
!**/src/test/**/out/


### Eclipse ###
# Сгенерированные файлы
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Папка скомпилированных классов
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### РЕЗУЛЬТАТЫ СБОРКИ ###
# Maven
target/

# Gradle
build/


### СЛУЖЕБНЫЕ ФАЙЛЫ ###
# Логи приложений
*.log

# Временные файлы
*.tmp
*.temp

# Системные файлы macOS
.DS_Store

# Системные файлы Windows
Thumbs.db
ehthumbs.db

# Резервные копии
*.bak
*.backup


