### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Результаты компиляции
target/
build/

# Файлы IDE IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Файлы логов и временные файлы
*.log
*.tmp

# IDE IntelliJ IDEA .log
idea.log